# =========================
# VIRTUAL ENVIRONMENT
# =========================
.venv/
venv/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc

# =========================
# DATA FILES (optional)
# =========================
Data/
*.csv

# =========================
# MODEL FILES (optional)
# =========================
models/
*.pkl
*.joblib

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db